<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>思高圣经</title>
  </head>
  <body>
    <h1>书卷列表</h1>
    <ul>
      <% books.forEach(function(b){ %>
        <li><a href="/book/<%= b.id %>"><%= b.name_cn %></a> (<%= b.book_type %>)</li>
      <% }) %>
    </ul>
    <p><a href="/admin">管理后台</a></p>
  </body>
</html>
