<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>思高小助手 - 书卷列表</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
    <h1>📖 思高小助手</h1>
        <h2>书卷列表</h2>
        <ul class="book-list">
            <% books.forEach(function(b){ %>
                <li>
                    <a href="/book/<%= b.id %>">
                        <%= b.name_cn %>
                        <% if (b.book_type) { %>
                            <span class="book-type">(<%= b.book_type %>)</span>
                        <% } %>
                    </a>
                </li>
            <% }) %>
        </ul>
        <div class="nav-links">
            <a href="/admin">⚙️ 管理后台</a>
        </div>
    </div>
    <script src="/js/main.js"></script>
    <script src="/js/reading-progress.js"></script>
</body>
</html>
